* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/img/bg_001.jpg);
  background-color: teal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu {
  width: 100vw;
  height: 15vh;
}
ul li {
  margin-top: 2rem;
  display: inline-block;
  border: dotted 1px red;
  font-size: larger;
  text-align: center;
  text-align: right;
}
ul {
  padding-right: 9vw;
  float: right;
  text-align: right;
  border: dotted green 2px;
}

a {
  color: white;
}
img {
  width: 16vw;
  float: right;
}
.navimg {
  margin: white 3px solid;
}
