* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/img/bg_001.jpg);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.menu {
  width: 100vw;
  height: 15vh;
}
ul li {
  margin-top: 2rem;
  display: inline-block;
  border: dotted 1px red;
  font-size: large;
  color: white;
  text-align: center;
}
ul {
  padding: 3px 70px;
  float: center;
  border: dotted green 2px;
}

a {
  color: white;
}
