* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 2px red dotted; */
}

/* mobile devices up to 600px */

@media only screen and (max-width: 600px) {
  body {
    background-image: url(../img/bg_001.jpg);
    display: flex;
    background-color: rgba(49, 184, 184, 0.596);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
  }
  .container {
    /* border: 2px yellow dashed; */
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 100vw;
    height: 100vh;
  }

  /*  menu */
  .menu {
    display: flex;
    // border: 2px red dotted;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .navigation-bar {
    /* border: 2px navy solid; */
    // overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .logo {
    /* border: 2px black dotted; */
    display: flex;
    align-items: center;
    width: 215px;
  }
  .nav-icon {
    /* border: 2px wheat dashed; */
    margin: 1em;
    width: 40px;
    list-style-type: none;
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon div {
    background-color: #000;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }
  .nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }

  .nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .nav-icon:hover div {
    transform: scale(0);
  }
  .navigation-bar ul {
    display: none;
    position: relative;
    width: 530px;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    // background-image: url(../img/bg_001.jpg);
    display: flex;
    background-color: rgba(49, 184, 184, 0.596);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
  }
  .container {
    /* border: 2px yellow dashed; */
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 100vw;
    height: 100vh;
  }

  /*  menu */
  .menu {
    display: flex;
    /* border: 2px red dotted; */
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .navigation-bar {
    /* border: 2px navy solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .logo {
    /* border: 2px black dotted; */
    display: flex;
    align-items: center;
    width: 215px;
  }
  .nav-icon {
    /* border: 2px wheat dashed; */
    margin: 1em;
    width: 40px;
    list-style-type: none;
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon div {
    background-color: #000;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }
  .nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }

  .nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .nav-icon:hover div {
    transform: scale(0);
  }
  .navigation-bar ul {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 530px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-image: url(../img/bg_001.jpg);
    display: flex;
    background-color: rgba(49, 184, 184, 0.596);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
  }
  .container {
    /* border: 2px yellow dashed; */
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 80vw;
    height: 85vh;
  }

  /*  menu */
  .menu {
    display: flex;
    /* border: 2px red dotted; */
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .navigation-bar {
    /* border: 2px navy solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .logo {
    /* border: 2px black dotted; */
    display: flex;
    width: 215px;
  }

  .navigation-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(145, 139, 82) dashed; */
    width: 530px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-image: url(../img/bg_001.jpg);
    display: flex;
    background-color: rgba(49, 184, 184, 0.596);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
  }
  .container {
    /* border: 2px yellow dashed; */
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 60vw;
    height: 85vh;
  }

  /*  menu */
  .menu {
    display: flex;
    /* border: 2px red dotted; */
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .navigation-bar {
    /* border: 2px navy solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .logo {
    /* border: 2px black dotted; */
    display: flex;
    width: 215px;
  }

  .navigation-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px rgb(145, 139, 82) dashed; */
    width: 530px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
